<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/Div1">Div 1</a></h1>
    <h1><a href="/Div2">Div 2</a></h1>
    <h1><a href="/Div3">Div 3</a></h1>
    <h1><a href="/Edu">Educational</a></h1>
  </body>
</html>
